body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url("BG2.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
 
   
}
.forpadding{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background:transparent;
    border-radius: 10px;
}
.h1{
    text-align: center;
    background-color: #50cbf4;

}



.input-field label{
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FBFBFB;
    position: relative;
    top: -10px;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.textinformright name{
    font-size:larger;
}

.form{


}

.forform{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;

}




.forbutton{
    background-color: #2fdee4; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }



input[type=name] {
    width: 100%;

    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size:20px;
    background-color: #000000;
     
}

input[type=password] {
    width: 100%;
    font-size:20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.button {
    /** Font Style **/
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform:uppercase;
    font-size:14px;
      color:#fff;
    text-decoration:none;
      font-weight:bold;
      text-transform:uppercase;
      text-shadow:rgba(0, 0, 0, 0.30) 0 -1.25px 0;
    
    /** Button Style **/ 
    display:-moz-inline-stack;
    -webkit-font-smoothing:antialiased;
      display:inline-block;
      vertical-align:middle;
      vertical-align:auto;
      zoom:1;
    margin-top: 10px;
    margin-bottom: 10px;
      border:1px solid #13619f;
      background: #2371b7;
      padding:11px 20px;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      -ms-border-radius:3px;
      -o-border-radius:3px;
      border-radius:3px;
      -webkit-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
      -moz-box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
      box-shadow:rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(255, 255, 255, 0.3) 0 1px 0;
  }
  
  /** Active State Style **/
  .button:active {
      border-color:#083559;
      -webkit-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
      -moz-box-shadow:rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.25) 0 1px 4px;
      box-shadow:rgba(255, 255, 255, 0.2) 0 
      
  }

  p.fortitle{
      text-align: center;
  }

 